# ── Artefatos de build ─────────────────────────────────────────────────────────
build/
firmware/
firmware.bin
version.txt

# ── PlatformIO ─────────────────────────────────────────────────────────────────
.pio/

# ── Python / venv ──────────────────────────────────────────────────────────────
venv/
__pycache__/
*.pyc

# ── Arduino IDE ────────────────────────────────────────────────────────────────
*.bak

# ── macOS ──────────────────────────────────────────────────────────────────────
.DS_Store

# ── IDEs ───────────────────────────────────────────────────────────────────────
.vscode/
.idea/
