name: Build and Publish ESP8266 Firmware

permissions:
  contents: write

on:
  push:
    branches:
      - main
    paths:
      - '**/*.ino'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Arduino CLI
        uses: arduino/setup-arduino-cli@v1

      - name: Install ESP8266 core 3.1.2
        run: |
          arduino-cli config init
          arduino-cli config set library.enable_unsafe_install true
          arduino-cli config add board_manager.additional_urls https://arduino.esp8266.com/stable/package_esp8266com_index.json
          arduino-cli core update-index
          arduino-cli core install esp8266:esp8266@3.1.2
          

      - name: Install libraries
        run: |
          arduino-cli lib update-index
          arduino-cli lib install "ArduinoJson@7.2.0"
          arduino-cli lib install "ArduinoWebsockets@0.5.4"

      - name: Get highest tag and increment
        id: version
        run: |
          # Lista todas as tags (em ordem de criação decrescente)
          all_tags=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            https://api.github.com/repos/${GITHUB_REPOSITORY}/tags?per_page=100 | jq -r '.[].name')

          echo "Tags encontradas:"
          echo "$all_tags"

          # Pega a maior versão numérica (ignora o 'v')
          last_tag=$(echo "$all_tags" | grep -E '^v[0-9]+$' | sed 's/v//' | sort -nr | head -1)
          echo "Última tag numérica: v$last_tag"

          # Incrementa versão
          new_version=$((last_tag + 1))
          new_tag="v${new_version}"

          echo "Nova tag: $new_tag"
          echo "new_tag=$new_tag" >> $GITHUB_ENV

      - name: List available ESP8266 boards
        run: arduino-cli board listall esp8266

      - name: Compile firmware (ESP-01 1MB)
        run: |
          arduino-cli compile \
            --fqbn esp8266:esp8266:generic:eesz=1M64 \
            --build-property build.flags.optimize.lto=true \
            --build-property build.flags.optimize.size=true \
            --output-dir build

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: firmware-bin
          path: build/firmware.bin

      - name: Create GitHub Release and upload firmware
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ github.run_number }}
          name: ESP8266 Firmware Build ${{ github.run_number }}
          files: build/firmware.bin
          generate_release_notes: false
